button{
    border: none;
}
.boton1{
    background-color: rgb(206, 206, 206);
    width: 150px;
    margin-left: 60px;
    color: rgb(19, 19, 19);
    background: linear-gradient(45deg, #8d85da,#c1bde4);
}
.b1{   
background-color: rgba(128, 112, 112, 0.42);
border-color: rgba(109, 95, 95, 0.42);

}